<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

{% seo title=false%}

  <meta property="og:locale" content="en_US">
  
  {% if page.layout != 'post' %}
  <meta property="og:type" content="website" />
  {% endif %}

  {% if page.layout == 'post' %}
    <meta name="twitter:label1" value="Posted" />
    <meta name="twitter:data1" value="{{ page.date | date: '%B %d, %Y' }}" />
    <meta name="twitter:label2" value="Read Time" />
    <meta name="twitter:data2" value="{% assign words = content | number_of_words %}{% if words < 360 %}1 min read{% else %}{{ words | divided_by:180 | minus:1 }} min read{% endif %}" />
    <meta property="article:publisher" content="https://bluescreenofjeff.com" />
    <meta property="article:author" content="https://twitter.com/bluscreenofjeff" />
  {% endif %}

 <meta name="author" content="{{ site.author.name }}" />

  <title>
  {% if paginator %} 
    {% if paginator.page < 2 %}
      {{ site.title }}
    {% else %}
      {{ site.title }}{% endif %} - Page {{ paginator.page }}
  {% else %}
    {% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}
  {% endif %}
  </title>

  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/assets/favicons/favicon-apple-touch-57.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ site.url }}/assets/favicons/favicon-apple-touch-114.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ site.url }}/assets/favicons/favicon-apple-touch-72.png">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.url }}/assets/favicons/favicon-apple-touch-144.png">
  <link rel="apple-touch-icon-precomposed" href="{{ site.url }}/assets/favicons/favicon-152.png">
  <link rel="apple-touch-icon-precomposed" sizes="180x180" href="{{ site.url }}/assets/favicons/favicon-apple-touch-180.png">

  <meta name="msapplication-TileColor" content="#FFFFFF">
  <meta name="msapplication-TileImage" content="{{ site.url }}/assets/favicons/favicon-apple-touch-144.png">

  
  <link rel="icon" sizes="128x128" href="{{ site.url }}/assets/favicons/favicon.icns">

  <link rel="icon" href="{{ site.url }}/assets/favicons/favicon-32.png" sizes="32x32">
  <link rel="icon" href="{{ site.url }}/assets/favicons/favicon.png" type="image/x-icon">
  <link rel="shortcut icon" sizes="196x196" href="{{ site.url }}/assets/favicons/favicon-196.png">

  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ site.url }}/feed.xml" />

  <meta name="application-name" content="bluescreenofjeff.com">
  <meta name="msapplication-tooltip" content="Jeff Dimmock's information security blog">
  <meta name="msapplication-config" content="{{ site.url }}/assets/favicons/win8/ieconfig.xml">

  <link rel="manifest" href="{{ site.url }}/assets/favicons/chrome/manifest.json">


  {% if layout.common-css %}
    {% for css in layout.common-css %}
      <link rel="stylesheet" href="{{ css | prepend: site.baseurl | replace: '//', '/' }}" />
    {% endfor %}
  {% endif %}

<noscript id="deferred-styles">
       {% if layout.common-ext-css %}
    {% for css in layout.common-ext-css %}
      <link rel="stylesheet" href="{{ css }}" />
    {% endfor %}
  {% endif %}  
  
  {% if layout.common-googlefonts %}
    {% for font in layout.common-googlefonts %}
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family={{ font }}" />
    {% endfor %}
  {% endif %}

  {% if layout.ext-css %}
    {% for css in layout.ext-css %}
      <link rel="stylesheet" href="{{ css }}" />
    {% endfor %}
  {% endif %}  
  
  {% if layout.css %}
    {% for css in layout.css %}
      <link rel="stylesheet" href="{{ css | prepend: site.baseurl | replace: '//', '/' }}" />
    {% endfor %}
  {% endif %}
  
  {% if layout.googlefonts %}
    {% for font in layout.googlefonts %}
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family={{ font }}" />
    {% endfor %}
  {% endif %}

</noscript>
<script>
  var loadDeferredStyles = function() {
    var addStylesNode = document.getElementById("deferred-styles");
    var replacement = document.createElement("div");
    replacement.innerHTML = addStylesNode.textContent;
    document.body.appendChild(replacement)
    addStylesNode.parentElement.removeChild(addStylesNode);
  };
  var raf = requestAnimationFrame || mozRequestAnimationFrame || webkitRequestAnimationFrame || msRequestAnimationFrame;
  if (raf) raf(function() { window.setTimeout(loadDeferredStyles, 0); });
  else window.addEventListener('load', loadDeferredStyles);
</script>


 {% if page.noindex %}
 <!-- meta robots -->
  <meta name="robots" content="noindex, nofollow" />
 {% endif %}

 <meta name="msvalidate.01" content="10C5B28087D934D1C88C3064DE0ECA6B" />

<style>
body {
  font-family: 'Lora', 'Times New Roman', serif;
  font-size: 18px;
  color: #404040;
  position: relative;
}
</style>
{% if page.commentIssueId %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
{% endif %}
</head>
