<script type="text/javascript">
  if (window.location.protocol != "https:")
    window.location.href = "https:" + window.location.href.substring(window.location.protocol.length);
</script>

<nav class="navbar navbar-default navbar-fixed-top navbar-custom">
  <div class="container-fluid">
    <div class="navbar-header">


      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ site.url }}">bluescreenofjeff.com</a>

    </div>
    <style>
    .so-logo:hover {
      opacity:.3;
    }
    </style>

    <div class="collapse navbar-collapse" id="main-navbar">
      <ul class="nav navbar-nav navbar-right">
      <li><a href="https://specterops.io/" class="so-logo"><img src="{{ site.baseurl }}/assets/specterops_logo2.png" height=20 /></a></li>
	    {% for link in site.navbar-links %}
	      {% capture before %}{{ link[1] | split: "://" | first }}{% endcapture %}
	      {% capture after %}{{ link[1] | split: "://" | last }}{% endcapture %}
        <li>
          {% assign internal = true %}
          {% if before != after %}
            {% if before == "http" or before == "https" %}
              {% assign internal = false %}
            {% endif %}
          {% endif %}
        	
        {% if internal %}
          {% capture linkurl %}{{ site.baseurl }}/{{ link[1] }}{% endcapture %}
        {% else %}
          {% capture linkurl %}{{ link[1] }}{% endcapture %}
        {% endif %}

	      <a href="{{ linkurl }}">{{ link[0] }}</a>
	      </li>
	    {% endfor %}
      </ul>
    </div>
  </div>
</nav>  

