<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h3>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h3>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Home</a>
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="/archive">Archive</a>
      <a class="sidebar-nav-item" href="http://www.twitter.com/bluscreenofjeff"><i class="fa fa-twitter" style="padding:2px;"></i>@bluscreenofjeff</a>
      <a class="sidebar-nav-item" href="{{ site.github.repo }}"><i class="fa fa-github" style="padding:2px;"></i>GitHub</a>
      <a class="sidebar-nav-item" href="http://bluscreenofjeff.com/atom.xml"><i class="fa fa-rss" style="padding:2px;"></i>RSS</a>
    </nav>

    <p style="font-size:.7em;">&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
