---
layout: default
---
{% if page.title == 'bluescreenofjeff.com' %}
	<img src="/assets/headers/header_2522w.jpg" srcset="/assets/headers/header_2000w.jpg 2000w, /assets/headers/header_1500w.jpg 1500w, /assets/headers/header_1000w.jpg 1000w, /assets/headers/header_500w.jpg 500w, /assets/headers/header_250w.jpg 250w" class="site-cover-image" alt="bluescreenofjeff.com"/>
{% endif %}
{% if page.title %}
<header class="header-page">
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
	  <div class="page-heading">
	  {% if page.title != 'bluescreenofjeff.com' %}
		    <h1>{{ page.title }}</h1>
		    {% if page.subtitle %}
		    <hr class="small">
		    <span class="page-subheading">{{ page.subtitle }}</span>
		    {% endif %}
	   {% endif %}
	  </div>
    </div>
  </div>
</header>
{% endif %}
<div class="row">
  <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
    {{ content }}
	{% if page.comments %}
    <div class="disqus-comments">
	  {% include disqus.html %}
    </div>
	{% endif %}
  </div>
</div>
